@model Car

@{
    ViewData["Title"] = "Update a new Seller";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new Seller</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div class="form-group text-center">
                        <input asp-for="ImageURL" class="form-control" style="visibility: hidden;" />
                        <img class="border-info" style="max-width: 400px; border: 1px solid black; border-radius: 10px;" id="ImageURLPreview" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageURL" class="control-label"></label>
                        <input asp-for="ImageURL" class="form-control" />
                        <span asp-validation-for="ImageURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>
                        <input asp-for="Model" class="form-control"/>
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CarMark" class="control-label"></label>
                        <input asp-for="CarMark" class="form-control" />
                        <span asp-validation-for="CarMark" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control"  />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control"  />
                        <span asp-Description-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Seller.FullName" class="control-label"></label>
                        <input asp-for="@Model.Seller.FullName" class="form-control"  />
                         <span asp-Description-for="Seller.FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-Description-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-Description-for="EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ImageURL');
            output.src = $("ImageURL").val();
        })

        $("#ImageURL").on("change", function () {
            var output = document.getElementById('ImageURL');
            output.src = $(this).val();
        })
    </script>
}